<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard-ShareKhiladi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'khiladi/images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'khiladi/images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'khiladi/images/favicons/favicon-16x16.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'khiladi/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/vendor/quill/quill.snow.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/vendor/quill/quill.bubble.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/vendor/remixicon/remixicon.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/vendor/simple-datatables/style.css' %}" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="{% static 'khiladi/css/style_dashboard.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/css/indices_table.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'khiladi/css/market-head.css' %}" rel="stylesheet" type="text/css">

  <!-- Include jQuery (you can download it or link to a CDN) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  {% include 'khiladi/header.html' %}

  <!-- ======= Sidebar ======= -->
  {% include 'khiladi/sidebar.html' %}

  <main id="main" class="main">




    <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Investment Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                    <li><a class="dropdown-item" href="#">Lifetime</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Investment <span>| Lifetime</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="ps-3">
                      <h6>7,83,000</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Investment Card -->

            <!-- Holdings Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                    <li><a class="dropdown-item" href="#">Lifetime</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Holdings <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>33,264</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Holdings Card -->

            <!-- Daily Change Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Daily Change <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-tropical-storm"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1,244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Daily Change Card -->

            <!-- Nepse live chart-->
            <div class="col-12">
              <div class="card">
                <div style="width: 95%; margin: 0 auto;">
                  <canvas id="myChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>




    <script>
        const jsonData = [
    {
        "x": "11:00",
        "y": 1847
    },
    {
        "x": "11:01",
        "y": 1845
    },
    {
        "x": "11:02",
        "y": 1849
    },
    {
        "x": "11:03",
        "y": 1843
    },
    {
        "x": "11:04",
        "y": 1873
    },
    {
        "x": "11:05",
        "y": 1840
    },
    {
        "x": "11:06",
        "y": 1854
    },
    {
        "x": "11:07",
        "y": 1872
    },
    {
        "x": "11:08",
        "y": 1852
    },
    {
        "x": "11:09",
        "y": 1859
    },
    {
        "x": "11:10",
        "y": 1847
    },
    {
        "x": "11:11",
        "y": 1845
    },
    {
        "x": "11:12",
        "y": 1864
    },
    {
        "x": "11:13",
        "y": 1878
    },
    {
        "x": "11:14",
        "y": 1880
    },
    {
        "x": "11:15",
        "y": 1860
    },
    {
        "x": "11:16",
        "y": 1853
    },
    {
        "x": "11:17",
        "y": 1848
    },
    {
        "x": "11:18",
        "y": 1855
    },
    {
        "x": "11:19",
        "y": 1871
    },
    {
        "x": "11:20",
        "y": 1861
    },
    {
        "x": "11:21",
        "y": 1872
    },
    {
        "x": "11:22",
        "y": 1873
    },
    {
        "x": "11:23",
        "y": 1873
    },
    {
        "x": "11:24",
        "y": 1872
    },
    {
        "x": "11:25",
        "y": 1844
    },
    {
        "x": "11:26",
        "y": 1877
    },
    {
        "x": "11:27",
        "y": 1856
    },
    {
        "x": "11:28",
        "y": 1851
    },
    {
        "x": "11:29",
        "y": 1871
    },
    {
        "x": "11:30",
        "y": 1852
    },
    {
        "x": "11:31",
        "y": 1848
    },
    {
        "x": "11:32",
        "y": 1870
    },
    {
        "x": "11:33",
        "y": 1846
    },
    {
        "x": "11:34",
        "y": 1849
    },
    {
        "x": "11:35",
        "y": 1844
    },
    {
        "x": "11:36",
        "y": 1854
    },
    {
        "x": "11:37",
        "y": 1863
    },
    {
        "x": "11:38",
        "y": 1860
    },
    {
        "x": "11:39",
        "y": 1877
    },
    {
        "x": "11:40",
        "y": 1843
    },
    {
        "x": "11:41",
        "y": 1872
    },
    {
        "x": "11:42",
        "y": 1855
    },
    {
        "x": "11:43",
        "y": 1855
    },
    {
        "x": "11:44",
        "y": 1879
    },
    {
        "x": "11:45",
        "y": 1856
    },
    {
        "x": "11:46",
        "y": 1861
    },
    {
        "x": "11:47",
        "y": 1877
    },
    {
        "x": "11:48",
        "y": 1845
    },
    {
        "x": "11:49",
        "y": 1866
    },
    {
        "x": "11:50",
        "y": 1852
    },
    {
        "x": "11:51",
        "y": 1852
    },
    {
        "x": "11:52",
        "y": 1845
    },
    {
        "x": "11:53",
        "y": 1859
    },
    {
        "x": "11:54",
        "y": 1880
    },
    {
        "x": "11:55",
        "y": 1853
    },
    {
        "x": "11:56",
        "y": 1875
    },
    {
        "x": "11:57",
        "y": 1878
    },
    {
        "x": "11:58",
        "y": 1861
    },
    {
        "x": "11:59",
        "y": 1865
    },
    {
        "x": "12:00",
        "y": 1852
    },
    {
        "x": "12:01",
        "y": 1847
    },
    {
        "x": "12:02",
        "y": 1871
    },
    {
        "x": "12:03",
        "y": 1850
    },
    {
        "x": "12:04",
        "y": 1862
    },
    {
        "x": "12:05",
        "y": 1868
    },
    {
        "x": "12:06",
        "y": 1877
    },
    {
        "x": "12:07",
        "y": 1862
    },
    {
        "x": "12:08",
        "y": 1865
    },
    {
        "x": "12:09",
        "y": 1854
    },
    {
        "x": "12:10",
        "y": 1852
    },
    {
        "x": "12:11",
        "y": 1878
    },
    {
        "x": "12:12",
        "y": 1845
    },
    {
        "x": "12:13",
        "y": 1853
    },
    {
        "x": "12:14",
        "y": 1856
    },
    {
        "x": "12:15",
        "y": 1863
    },
    {
        "x": "12:16",
        "y": 1880
    },
    {
        "x": "12:17",
        "y": 1875
    },
    {
        "x": "12:18",
        "y": 1876
    },
    {
        "x": "12:19",
        "y": 1861
    },
    {
        "x": "12:20",
        "y": 1857
    },
    {
        "x": "12:21",
        "y": 1876
    },
    {
        "x": "12:22",
        "y": 1862
    },
    {
        "x": "12:23",
        "y": 1846
    },
    {
        "x": "12:24",
        "y": 1857
    },
    {
        "x": "12:25",
        "y": 1859
    },
    {
        "x": "12:26",
        "y": 1877
    },
    {
        "x": "12:27",
        "y": 1869
    },
    {
        "x": "12:28",
        "y": 1850
    },
    {
        "x": "12:29",
        "y": 1870
    },
    {
        "x": "12:30",
        "y": 1868
    },
    {
        "x": "12:31",
        "y": 1849
    },
    {
        "x": "12:32",
        "y": 1867
    },
    {
        "x": "12:33",
        "y": 1876
    },
    {
        "x": "12:34",
        "y": 1860
    },
    {
        "x": "12:35",
        "y": 1845
    },
    {
        "x": "12:36",
        "y": 1876
    },
    {
        "x": "12:37",
        "y": 1854
    },
    {
        "x": "12:38",
        "y": 1841
    },
    {
        "x": "12:39",
        "y": 1854
    },
    {
        "x": "12:40",
        "y": 1863
    },
    {
        "x": "12:41",
        "y": 1873
    },
    {
        "x": "12:42",
        "y": 1842
    },
    {
        "x": "12:43",
        "y": 1850
    },
    {
        "x": "12:44",
        "y": 1850
    },
    {
        "x": "12:45",
        "y": 1858
    },
    {
        "x": "12:46",
        "y": 1851
    },
    {
        "x": "12:47",
        "y": 1880
    },
    {
        "x": "12:48",
        "y": 1861
    },
    {
        "x": "12:49",
        "y": 1868
    },
    {
        "x": "12:50",
        "y": 1870
    },
    {
        "x": "12:51",
        "y": 1875
    },
    {
        "x": "12:52",
        "y": 1862
    },
    {
        "x": "12:53",
        "y": 1853
    },
    {
        "x": "12:54",
        "y": 1863
    },
    {
        "x": "12:55",
        "y": 1878
    },
    {
        "x": "12:56",
        "y": 1849
    },
    {
        "x": "12:57",
        "y": 1840
    },
    {
        "x": "12:58",
        "y": 1844
    },
    {
        "x": "12:59",
        "y": 1856
    },
    {
        "x": "13:00",
        "y": 1866
    },
    {
        "x": "13:01",
        "y": 1848
    },
    {
        "x": "13:02",
        "y": 1880
    },
    {
        "x": "13:03",
        "y": 1874
    },
    {
        "x": "13:04",
        "y": 1866
    },
    {
        "x": "13:05",
        "y": 1876
    },
    {
        "x": "13:06",
        "y": 1874
    },
    {
        "x": "13:07",
        "y": 1854
    },
    {
        "x": "13:08",
        "y": 1870
    },
    {
        "x": "13:09",
        "y": 1866
    },
    {
        "x": "13:10",
        "y": 1860
    },
    {
        "x": "13:11",
        "y": 1875
    },
    {
        "x": "13:12",
        "y": 1861
    },
    {
        "x": "13:13",
        "y": 1867
    },
    {
        "x": "13:14",
        "y": 1844
    },
    {
        "x": "13:15",
        "y": 1861
    },
    {
        "x": "13:16",
        "y": 1850
    },
    {
        "x": "13:17",
        "y": 1863
    },
    {
        "x": "13:18",
        "y": 1864
    },
    {
        "x": "13:19",
        "y": 1848
    },
    {
        "x": "13:20",
        "y": 1853
    },
    {
        "x": "13:21",
        "y": 1858
    },
    {
        "x": "13:22",
        "y": 1841
    },
    {
        "x": "13:23",
        "y": 1840
    },
    {
        "x": "13:24",
        "y": 1857
    },
    {
        "x": "13:25",
        "y": 1850
    },
    {
        "x": "13:26",
        "y": 1863
    },
    {
        "x": "13:27",
        "y": 1856
    },
    {
        "x": "13:28",
        "y": 1877
    },
    {
        "x": "13:29",
        "y": 1847
    },
    {
        "x": "13:30",
        "y": 1845
    },
    {
        "x": "13:31",
        "y": 1840
    },
    {
        "x": "13:32",
        "y": 1855
    },
    {
        "x": "13:33",
        "y": 1853
    },
    {
        "x": "13:34",
        "y": 1842
    },
    {
        "x": "13:35",
        "y": 1853
    },
    {
        "x": "13:36",
        "y": 1850
    },
    {
        "x": "13:37",
        "y": 1865
    },
    {
        "x": "13:38",
        "y": 1858
    },
    {
        "x": "13:39",
        "y": 1859
    },
    {
        "x": "13:40",
        "y": 1862
    },
    {
        "x": "13:41",
        "y": 1840
    },
    {
        "x": "13:42",
        "y": 1842
    },
    {
        "x": "13:43",
        "y": 1861
    },
    {
        "x": "13:44",
        "y": 1878
    },
    {
        "x": "13:45",
        "y": 1847
    },
    {
        "x": "13:46",
        "y": 1849
    },
    {
        "x": "13:47",
        "y": 1872
    },
    {
        "x": "13:48",
        "y": 1853
    },
    {
        "x": "13:49",
        "y": 1872
    },
    {
        "x": "13:50",
        "y": 1877
    },
    {
        "x": "13:51",
        "y": 1857
    },
    {
        "x": "13:52",
        "y": 1875
    },
    {
        "x": "13:53",
        "y": 1869
    },
    {
        "x": "13:54",
        "y": 1862
    },
    {
        "x": "13:55",
        "y": 1857
    },
    {
        "x": "13:56",
        "y": 1866
    },
    {
        "x": "13:57",
        "y": 1842
    },
    {
        "x": "13:58",
        "y": 1868
    },
    {
        "x": "13:59",
        "y": 1861
    }
];

        const labels = jsonData.map(item => item.x);
        const dataPoints = jsonData.map(item => item.y);

        // Find the minimum and maximum y-values
        const minY = Math.min(...dataPoints);
        const maxY = Math.max(...dataPoints);

        const chartData = {
            labels: labels,
            datasets: [{
                label: 'NEPSE Day Data',
                data: dataPoints,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                backgroundColor: 'rgba(54, 162, 235, 0.5)', // Dark blue fill color
                fill: 'origin', // Fill the area below the line
            }]
        };

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels, // Use custom labels for the x-axis
                        offset: true
                    },
                    y: {
                        title: {
                            display: false // Remove the y-axis label
                        },
                        min: minY - 10, // Start 10 points below the minimum value
                        max: maxY + 10, // Show 10 points above the maximum value
                    }
                }
            }
        });
    </script>



            <div class="col-12">
              <div class="card">
                <iframe src="https://nepsealpha.com/trading/chart" width="100%" height="500"></iframe>
              </div>
            </div>

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Sales',
                          data: [31, 40, 28, 51, 42, 82, 56],
                        }, {
                          name: 'Revenue',
                          data: [11, 32, 45, 32, 34, 52, 41]
                        }, {
                          name: 'Customers',
                          data: [15, 11, 32, 18, 9, 24, 11]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td>Brandon Jacob</td>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2147</a></th>
                        <td>Bridie Kessler</td>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>$47</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2049</a></th>
                        <td>Ashleigh Langosh</td>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>$147</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Angus Grady</td>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>$67</td>
                        <td><span class="badge bg-danger">Rejected</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Raheem Lehner</td>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>$165</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                        <td>$59</td>
                        <td class="fw-bold">74</td>
                        <td>$4,366</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                        <td>$32</td>
                        <td class="fw-bold">63</td>
                        <td>$2,016</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                        <td>$79</td>
                        <td class="fw-bold">41</td>
                        <td>$3,239</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->

        <div class="col-lg-4">


          <!-- Indices Table -->
           <div class="activity">
             <div class="card">
               <div class="card-body">
                    <h5 class="card-title">NEPSE INDICES <span>| Today</span></h5>

                  <div class="indices-table">
                     <table>
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Current Value</th>
                                <th>Change</th>
                                <th>% Change</th>
                            </tr>
                        </thead>
                        <tbody id="index-table">
                            <!-- Data will be inserted here -->
                            {% include 'khiladi/data_indices.html' %}
                        </tbody>
                    </table>
                  </div>

               </div>
             </div>
           </div><!-- End Indices Table -->

          <!-- Budget Report -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Budget Report <span>| This Month</span></h5>

              <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                    legend: {
                      data: ['Allocated Budget', 'Actual Spending']
                    },
                    radar: {
                      // shape: 'circle',
                      indicator: [{
                          name: 'Sales',
                          max: 6500
                        },
                        {
                          name: 'Administration',
                          max: 16000
                        },
                        {
                          name: 'Information Technology',
                          max: 30000
                        },
                        {
                          name: 'Customer Support',
                          max: 38000
                        },
                        {
                          name: 'Development',
                          max: 52000
                        },
                        {
                          name: 'Marketing',
                          max: 25000
                        }
                      ]
                    },
                    series: [{
                      name: 'Budget vs spending',
                      type: 'radar',
                      data: [{
                          value: [4200, 3000, 20000, 35000, 50000, 18000],
                          name: 'Allocated Budget'
                        },
                        {
                          value: [5000, 14000, 28000, 26000, 42000, 21000],
                          name: 'Actual Spending'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Budget Report -->

          <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Website Traffic <span>| Today</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: 1048,
                          name: 'Search Engine'
                        },
                        {
                          value: 735,
                          name: 'Direct'
                        },
                        {
                          value: 580,
                          name: 'Email'
                        },
                        {
                          value: 484,
                          name: 'Union Ads'
                        },
                        {
                          value: 300,
                          name: 'Video Ads'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="assets/img/news-1.jpg" alt="">
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-2.jpg" alt="">
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-3.jpg" alt="">
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-4.jpg" alt="">
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-5.jpg" alt="">
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
  </div>
    </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'khiladi/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'khiladi/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'khiladi/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'khiladi/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'khiladi/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'khiladi/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'khiladi/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'khiladi/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'khiladi/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'khiladi/js/main_dashboard.js' %}"></script>
  <script src="{% static 'khiladi/js/manual.js' %}"></script>







</body>

</html>